.speech-bubble {
	position: relative;
	background: #00aabb;
    border-radius: .4em;
    list-style: none;
    margin: 5px;
    height: 48px;
    text-align: center;
    width: 50%;
}

.speech-bubble:nth-child(odd) {
    float: left;
}

.speech-bubble:nth-child(even) {
    float: right;
}

ul {
    margin: 0 auto;
    width: 500px;
}

.speech-bubble:nth-child(even):after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #00aabb;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
    margin-right: -20px;
}

.speech-bubble:nth-child(odd):after {
    content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #00aabb;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
    margin-left: -20px;
}